<style>
  .jumbotron {
    height: 500px;
    background-image: url("https://d3v4jsc54141g1.cloudfront.net/uploads/project/avatar/141622/large_Capture_d_e_cran_2019-06-04_14.26.29-1559651857.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
  }
</style>


<div style="background-color:pink;" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center; padding-top:80px; color:white;">Hello les MOUSS'</h1>
    <p style="text-align:center; padding-top:40px; padding-bottom:40px; color:white;" class="lead">Vous êtes à la recherceh de tous les gossips de THP ? Pas besoin de chercher bien loin !</p>
  </div>
</div>

<p style="text-align:center;">Tu souhaites créer ton propre Gossip ?  </p>
<p style="text-align:center;">Rien de plus facile ! <%= link_to "Clique donc ICI", new_gossip_path %>   </a></p>

<br><br>

<% @gossip.each do |t| %>

<center>
  <div class="card" style="width: 18rem; text-align:center;">
    <img class="card-img-top" src="https://www.beyondtrust.com/assets/images/bt/whats-your-secret.jpg" alt="Card image cap">
    <div class="card-body">
      <a class="card-title" href="http://localhost:3000/gossips/<%=t.id%>"> <%=t.title %> </a>
      <p class="card-text"> <% a = t.user_id %> Gossipeur : <%= @user.find(a).first_name %></p>
      <a class="btn btn-primary" href="http://localhost:3000/gossips/<%=t.id%>">Voir le Gossip !</a>
    </div>
  </div>
  <br>
</center>

<%end%>
