<h1>GOSSIP TIME! </h1>

<h2>Titre : <%= @gossip.title %> </h2>

<h3>Ecrit par:
  <!-- je créer mon liens vers la page de l'autre sur le nom et prénom -->
 <%= link_to "#{@users.find(@gossip.user_id).first_name} #{@users.find(@gossip.user_id).last_name}", auteur_path(@gossip.user_id) %>
</h3>

<p> le : <%=@gossip.created_at.strftime("%d/%m/%Y") %> <br/>
dernière modification: <%=@gossip.updated_at.strftime("%d/%m/%Y") %> <br/>
dans la ville : <%=link_to "#{@cities.find(@users.find(@gossip.user_id).city_id).name}", city_path(@users.find(@gossip.user_id).city_id) %>
</p>


<p> <%= @gossip.content %> </p>


<p> <a href="http://localhost:3000/gossips/<%=@gossip.id%>/edit" class="btn btn-primary"> Edit </a> </p>
<p> <a href="http://localhost:3000/gossips/<%=@gossip.id%>/destroy" class="btn btn-primary"> Supprimer </a> </p>
