<h1>GOSSIPEUR </h1>

<h2><%= @user.first_name %> <%= @user.last_name %> </h2>

<p>Age : <%= @user.age %></p>
<p>email : <%= @user.email %></p>
<p>City : <%= link_to "#{@cities.find(@user.city_id).name}", city_path(@user.city_id) %></p>
<p>Description : <%= @user.description %></p>
